.myimage {
    filter: brightness(50%);
}

.button{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 51px;
      margin: 40%;
}

.gfont{ 
    font-family: 'Abel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
}


/* small device start  */
  
  @media (max-width: 575.98px){ 

    .custom-company {
        display: none;
      }
/* company  */
  
    .right-box{
        display: none;
    }

    .limg{
      width: 100%;
    }
    .cs-register{
  
        
    }
    .rg-button{
        
        
        
    }

   }
/* small device end  */



   /* medium device start company */
   @media only screen and (max-width: 767.98px) { 
    .custom-company {
        display: none;
      }
      /* company  */
       .cs-register{
     
      
        
    }
    .rg-button{
        text-align: center;
       
        margin-left: 150px;
       
    }

   }

    



   /* medium device end  */



    /* tablet start */
    @media (max-width: 991.98px) { 
        .custom-company {
            display: none;
          }
          
    .right-box{
        display: none;
    }

    .limg{
      width: 100%;
    }
    .cs-register{
    
        display: flex;
    }
    .rg-button{
        text-align: center;
       
        margin-left: 250px;
        
    }

   }
    
     
     /* tablet end */

    
     /* pc  */
     @media (min-width: 992px) { 
        .rg-button{
            text-align: center;
           margin-top: 60px;
           margin-left: 500px;
           
            
        }
        .rg-flex{
            display: flex;
            
        }
       
      }

     @media (min-width: 1200px) {
        .rg-button{
            text-align: center;
           margin-top: 60px;
           margin-left: 500px;
           
            
        }
        .rg-flex{
            display: flex;
            
        }
      }
     
  
     @media (min-width: 1400px) { 

        
        .rg-button{
            text-align: center;
           margin-top: 60px;
           margin-left: 500px;
           
            
        }
        .rg-flex{
            display: flex;
            
        }
      }