.myimage {
    filter: brightness(50%);
}

.button{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
      margin: 40%;
}

.gfont{
    font-family: 'Abel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
}