.myimage {
    filter: brightness(50%);
}

.button{
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
      margin: 40%;
}

.gfont{
    font-family: 'Abel', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
}

/* .custom-company {
    display: none;
  }
  @include media-breakpoint-up(lg) {
    .custom-company {
      display: block;
    }
  } */

/* small device start  */
  
  @media (max-width: 575.98px){ 

    .custom-company {
        display: none;
      }

   }
/* small device end  */



   /* medium device start  */
   @media (max-width: 767.98px) { 
    .custom-company {
        display: none;
      }

    }

   /* medium device end  */



    /* tablet start */
    @media (max-width: 991.98px) { 
        .custom-company {
            display: none;
          }
    
     }
     /* tablet start */